[submodule "service/data"]
	path = service/data
	url = https://github.com/HYChou0515/OnlineML-Data-Service.git
[submodule "service/libsvm"]
	path = service/libsvm
	url = https://github.com/HYChou0515/OnlineML-Libsvm-Service.git
[submodule "service/swagger"]
	path = service/swagger
	url = https://github.com/HYChou0515/OnlineML-Swagger-Service.git
[submodule "service/eureka"]
	path = service/eureka
	url = https://github.com/HYChou0515/OnlineML-Eureka-Service.git
